.heading{
font-size: 25px;
margin-top: 0px;
box-shadow: 5px 5px 5px grey;
width: 100%;
background-color:yellow;
color:black;
font-weight: bold;
}

.note{
    color:black;
    font-size: 25px;
}
.copy_right_footer{
    position : fixed;
    color:white;
    font-size:25px;
    font-weight: bold;
    font-style:oblique;
    width: 100%;
    bottom: 0px;
    background-color:black;
    line-height: 2;
    text-align: center;
}
canvas{
    border-color: black;
    border-style: dashed;
    border-radius: 20px;
}
h4{
    font-size: 25px;
    font-weight: bold;
    font-style:oblique;
    color: white;
}